<div fxLayoutAlign="center">
  <mat-card class = "mdl-grid">
    <mat-card-title>
      Please provide your Exam and corresponding Info <a routerLink="/">(App Home)</a>
    </mat-card-title>
    <br>
    <br>
    
      <form #info = "ngForm" class="example-form" (ngSubmit)="onClickSubmit(info.value)" ngNativeValidate>
       <!--  {{ info.value | json }} -->
        <br>
        <br>
        <mat-card-content>
        <div>
          <mat-form-field class="example-full-width" appearance="outline">
            <mat-label>Degree</mat-label>
            <select matNativeControl name="degree" ngModel required>
              <option value="" selected disabled>Choose One</option>
              <option value="ssc">SSC</option>
              <option value="hsc">HSC</option>
              
            </select>
          </mat-form-field>
        </div>

        <div>
          <mat-form-field class="example-full-width" appearance="outline">
            <mat-label>Year</mat-label>
            <select matNativeControl name="year" ngModel required>
              <option value="" selected disabled>Choose One</option>
              <option value="2008">2008</option>
              <option value="2009">2009</option>
              
            </select>
          </mat-form-field>
        </div>

        <div>
          <mat-form-field class="example-full-width" appearance="outline">
            <mat-label>Board</mat-label>
            <select matNativeControl name="board" ngModel required>
              <option value="" selected disabled>Choose One</option>
              <option value="dhaka">Dhaka</option>
              <option value="cumilla">Cumilla</option>
              
            </select>
          </mat-form-field>
        </div>

        <div>
          <mat-form-field class="example-full-width" appearance="outline">
          <mat-label>Roll</mat-label>
          <input matInput type="number" name="roll" ngModel placeholder="Enter Your Roll" required />
          </mat-form-field>
        </div>
    </mat-card-content>
    <div align="center">
      <mat-card-footer>
        <button mat-raised-button>Get Result</button>
      </mat-card-footer>
    </div>


    </form>
  </mat-card>
</div>