.container {
  /*font-family: 'Avenir', Helvetica, Arial, sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;*/
  /**/
  text-align: center;
  margin-top: 20px;

 /* margin-right: 252px;*/
  margin-bottom: 40px;
  display: flex;

}
.mat-card.mat-success{
    background-color: green;
    min-width: 70%;
}
span.text-white {
    color: #fff!important;
}
.mat-body-1, .mat-body-2, body {
    font-size: 18px;
    letter-spacing: .01em;
}
 
audio, canvas, embed, iframe, img, object, video {
    max-width: 100%;
    font-style: italic;
    vertical-align: middle;
}


/* Responsive Styles */
 /* @media screen and (max-width: 767px) {

    .mat-card-content > *:not(.circle-link) ,
    .terminal {
      width: 100%;
    }

    .mat-card:not(.highlight-card) {
      height: 16px;
      margin: 8px 0;
    }

    .card.highlight-card span {
      margin-left: 72px;
    }

    svg#rocket-smoke {
      right: 120px;
      transform: rotate(-5deg);
    }
  }

  @media screen and (max-width: 575px) {
    svg#rocket-smoke {
      display: none;
      visibility: hidden;
    }
  }
*/

