.mdl-grid {
    min-width: 37%;
    display: inline-block;
    vertical-align: top;
    text-align: left;
    margin-left: 6%;
    margin-right: 6%;
  }
  .mat-card-title {
    padding: .75rem 1.25rem;
    margin-bottom: 0;
    background-color: rgba(0, 0, 0, 0.03);
    border-bottom: 1px solid rgba(0,0,0,.125);
    margin-left: -17px;
    margin-right: -17px;

  }
  .mat-card>:first-child, .mat-card-content>:first-child {
    margin-top: -17px;
}

  .mat-raised-button {
    min-width: 94%;
    height: 36px;
    margin: 6px 8px;
    border-radius: 2px;
    font-size: 14px;
    font-weight: 500;
    color: white;
    background-color: green;
   
}


/*.mat-flat-button, .mat-raised-button, .mat-fab, .mat-mini-fab {
    color: white;
    background-color: green;
}*/